# Fichiers système / IDE
.DS_Store
Thumbs.db
*.log
*.bak
*.tmp

# Dossiers d'éditeurs
.vscode/
.idea/
node_modules/   # au cas où tu aurais un peu de JS moderne

# Configuration locale
config/config.php


# Caches ou uploads
cache/
uploads/
sessions/

/vendor/
